html{
    background-image: linear-gradient(green,silver,dodgerblue);
}

body {
    padding: 10px;
}

.header-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background-image: linear-gradient(90deg,dodgerblue,green);
    border: solid 5px black;
    border-radius: 10px;
    width: 100%;
}

.header-items {
    font-size: 25px;
    padding: 5px;
    margin: 0 10px 0 10px;
    color: white;
    font-weight: bold;
    min-width: 0;
}

.About-me-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.photobox {
    display: flex;
    border-radius: 25px;
    border: solid 5px black;
    padding: 5px 
}

.photobox img {
    border-radius: 25px;
    max-height: 100%;
}

.a-little-about-myself-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
    flex-wrap: nowrap;
    border: solid 5px black;
    border-radius: 20px;
    background-image: linear-gradient(45deg, dodgerblue, white, green);
}

#h2-about-me {
    text-align: center;
    font-size: 30px;
} 

#h2-about-me::before,
#h2-about-me::after {
    content:" ⭐ ";
}

.about-me-p {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size:medium;
    font-style: italic;
    font-weight: bold;
    overflow-y: auto;

}

.info-p-item {
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;
}

.applications-header {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background-image: linear-gradient(90deg,green,dodgerblue);
    border: solid 5px black;
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    text-decoration: underline;
    font-size: 40px;
    text-shadow: 3px 2px rgb(39, 38, 38);
}

.app-container {
    display:flex;
    justify-content: center;
    width: 100%;
    height:fit-content;
    text-align: center;
}

.item-refactoring img {
    display: flex;
    height: 400px;
    width: 750px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 15px;
    margin-bottom: 0;
}

#app1h3 {
    margin: 0;
    font-size: 25px;
    color: white;
    text-shadow: 3px 2px rgb(39, 38, 38);
}

.placeholder-container {
    display:flex;
    justify-content:center;
    width: 100%;
    height:fit-content;
    text-align: center;
}

.placeholder-item img{
    display: flex;
    height: 300px;
    width: 400px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.placeholder-text {
    color: white;
    text-shadow: 3px 2px rgb(39, 38, 38);
}