html{
    background-image: linear-gradient(green,silver,dodgerblue);
}
/* applying a linear-gradient to the overall background */
body {
    padding: 10px;
}
/* gives the boy a padding of 10px */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(90deg,dodgerblue,green);
    border: solid 5px black;
    border-radius: 10px;
    min-width: 345px;
    flex-wrap: wrap;
}
/* the header container set to flex */
.header-items {
    font-size: 40px;
    padding: 5px;
    margin: 0 10px 0 10px;
    color: white;
    font-weight: bold;
    text-shadow: 3px 2px rgb(39, 38, 38)
}
/* all the items going inside of the header */
.About-me-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* The main sextion that holds all the about me information */
.photobox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: solid 5px black;
    padding: 5px 
    
}
/* This is the section used to house the image */
.photobox img {
    border-radius: 25px;
    max-width:100%;
    height:100%;
}
/* Above are the rules for the img within said house */
.a-little-about-myself-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 5px black;
    border-radius: 20px;
    background-image: linear-gradient(45deg, dodgerblue, white, green);
}
/* this is the section that holds the details heading and <p> elements */
#h2-about-me {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
} 
/* rules for the header */
#h2-about-me::before,
#h2-about-me::after {
    content:" ⭐ ";
}
/* some pseudo elements to make it look nice */
.about-me-p-container {
    display: flex;
    flex-direction: column;
    font-size:medium;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    overflow-y: auto; /* adds scroll bar */
}
/* the p container  */
.info-p-item {
    margin: 0 10px 75px 10px;
}
/* along with a touch up to the item within */
.applications-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(90deg,green,dodgerblue);
    border: solid 5px black;
    border-radius: 10px;
    text-decoration: underline;
    font-size: 40px;
    text-shadow: 3px 2px rgb(39, 38, 38);
}
/* the header seperating the about me and show case section */
.app-container {
    display:flex;
    justify-content: center;
}
/* large image container */
.item-refactoring img {
    display: flex;
    justify-content: center;
    width: 600px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 15px;
    margin-bottom: 0;
    max-width:100%;
}
/* rules for the showcased week1 challenge */
#app1h3 {
    margin: 0 0 30px 0;
    font-size: 25px;
    color: white;
    text-shadow: 3px 2px rgb(39, 38, 38);
    text-align: center;
}
/* rules for the lable */
.placeholder-container {
    display:flex;
    justify-content: center;
}

.placeholder-item1 img{
    height: 300px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 15px;
    max-width:100%;
    margin: 0 50px 0 0;
}

.placeholder-item2 img{
    height: 300px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 15px;
    max-width:100%;
    margin:0 0 0 50px;
}

.placeholder-text {
    color: white;
    text-shadow: 3px 2px rgb(39, 38, 38);
    text-align: center;
}
/* above follows a similar pattern for the first showcased item except their are to sections now */
@media screen and (max-width: 450px){
     .header-items{font-size: smaller;}
}

@media screen and (max-width: 375px){
     #app1h3{font-size: smaller;}
}

@media screen and (max-width: 375px){
    .applications-header{font-size: smaller;}
}
    
@media screen and (max-width: 375px){
    #h2-about-me{font-size: small;}
}

@media screen and (max-width: 830px){
    .photobox img{height: 75%;}
}

@media screen and (max-width: 650px){
    .photobox img{height: 75%;}
}
/* above are my media Q's I've attempted to make some of the text and photos size more responsive to smaller sized screens */